example/leanix-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:integration="http://www.mulesoft.org/schema/mule/integration"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/integration http://www.mulesoft.org/schema/mule/integration/current/mule-integration.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<integration:config name="Integration_Connector_Config" doc:name="Integration Connector Config" doc:id="82a46011-1ac8-45c8-8eb4-7f846cee4827" >
		<integration:token-connection baseUri="https://demo-eu.leanix.net/services/integration-api/v1" >
			<integration:oauth-client-credentials clientId="apitoken" clientSecret="XXX" tokenUrl="https://demo-eu.leanix.net/services/mtm/v1/oauth2/token" />
		</integration:token-connection>
	</integration:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7e67cf69-df58-4f70-96c6-b94e2fc682f0" >
		<http:listener-connection host="0.0.0.0" port="18086" />
	</http:listener-config>
	<flow name="leanix-connectorFlow1" doc:id="14e238de-ee87-4b7d-a13e-24b16620ef5f" >
		<http:listener doc:name="Listener" doc:id="261eba97-0799-4a58-8224-adb2d422ac47" config-ref="HTTP_Listener_config" path="/test">
			<http:response >
			</http:response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="944a0779-8b73-43c8-b9bf-b7416555284c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"connectorType": "demo",
	"connectorId": "demo",
	"connectorVersion": "1.0",
	"lxVersion": "1.0.0",
	"description": "Imports Kubernetes data into LeanIX",
	"processingDirection": "inbound",
	"processingMode": "full"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="08509b42-6332-4bfb-acbb-9adaee8d59e2" message="#[payload]" />
		<integration:create-synchronization-run doc:name="Create Synchronization Run" doc:id="acbffde3-4b10-4dfd-bb84-ab55fde2c1b9" config-ref="Integration_Connector_Config" testQueryParam="true" startQueryParam="true">
		</integration:create-synchronization-run>
		<logger level="INFO" doc:name="Logger" doc:id="312caa0c-c7ca-4c24-8153-6f0437628f05" message="#[payload]"/>
	</flow>
</mule>
